In [7]:
import sys
sys.path.append("..")

In [8]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [9]:
from src.dataset import HierarchicalDataset
import pandas as pd

In [19]:
"""
dataset = HierarchicalDataset(config_dir="../../config/catalog.yml", 
                              cases_dir="../../data/EU/COVID-19-up-to-date.csv", 
                              ifr_dir="../../data/EU/weighted_fatality.csv", 
                              serial_interval_dir="../../data/EU/serial_interval.csv", 
                              interventions_dir="../../data/EU/interventions.csv", num_covariates=7)
"""
print()

In [20]:
## HERE - don't call the class yet
## first, simply view each of the files
## then decide what to do next - what data is needed, what changes to the code need to happen

In [21]:
caseAndMortality = pd.read_csv("../../data/EU/COVID-19-up-to-date.csv", encoding="ISO-8859-1")

In [22]:
# fetch US county data; process to match this format
caseAndMortality

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,28/03/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
1,27/03/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
2,26/03/2020,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
3,25/03/2020,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0
4,24/03/2020,24,3,2020,6,1,Afghanistan,AF,AFG,37172386.0
...,...,...,...,...,...,...,...,...,...,...
7315,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7316,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
7317,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7318,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
7319,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0

In [143]:
# fetch the JHU time-series data
# see: https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/README.md

jhu = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/"

cases_csv = "time_series_covid19_confirmed_US.csv"
deaths_csv = "time_series_covid19_deaths_US.csv"

cases = pd.read_csv(jhu + cases_csv)
deaths = pd.read_csv(jhu + deaths_csv)

In [144]:
# 1. process case_df to match form of EU table
cases

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,149,151,151,151,151,152,152,152,154,154
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,15,15,16,16,19,19,19,19,19,21
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,2031,2156,2173,2198,2256,2299,2329,2427,2542,2589
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,66,68,68,69,69,69,69,69,69,69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,27,27,27,28,28,28,29,29,29,29
3257,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,12,13,13,13,14,13,13,13,13,14
3258,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,132,138,155,164,170,167,180,187,200,209
3259,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,14,14,16,16,16,16,16,16,16,19
3260,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,173,184,188,194,197,207,211,214,216,221

In [145]:
# filter for IL
cases = cases.loc[cases["Province_State"] == "Illinois"]
cases

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20
600,84017001,US,USA,840,17001.0,Adams,Illinois,US,39.988156,-91.187868,...,40,41,41,41,41,41,41,41,42,42
601,84017003,US,USA,840,17003.0,Alexander,Illinois,US,37.180493,-89.329108,...,6,6,6,7,7,8,8,8,8,8
602,84017005,US,USA,840,17005.0,Bond,Illinois,US,38.888296,-89.435349,...,8,8,8,8,9,9,10,10,11,11
603,84017007,US,USA,840,17007.0,Boone,Illinois,US,42.323593,-88.823458,...,168,177,185,193,206,244,253,268,274,282
604,84017009,US,USA,840,17009.0,Brown,Illinois,US,39.962091,-90.750680,...,6,6,8,8,9,9,9,9,9,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,84017199,US,USA,840,17199.0,Williamson,Illinois,US,37.730335,-88.929940,...,42,44,44,44,44,44,52,52,51,52
700,84017201,US,USA,840,17201.0,Winnebago,Illinois,US,42.336419,-89.160853,...,759,830,877,917,932,1159,1208,1337,1390,1436
701,84017203,US,USA,840,17203.0,Woodford,Illinois,US,40.785794,-89.209738,...,15,15,15,15,15,15,15,14,14,14
3162,84080017,US,USA,840,80017.0,Out of IL,Illinois,US,0.000000,0.000000,...,71,72,77,79,84,86,82,86,86,83
3214,84090017,US,USA,840,90017.0,Unassigned,Illinois,US,0.000000,0.000000,...,100,48,73,84,66,61,46,65,50,49

In [146]:
# columns of EU data:
# dateRep	day	month	year	cases	deaths	countriesAndTerritories	geoId	countryterritoryCode	popData2018

In [147]:
# columns of IL data
list(cases)

['UID',
 'iso2',
 'iso3',
 'code3',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Lat',
 'Long_',
 'Combined_Key',
 '1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20',
 '5/9/20',
 '5/10/20',
 '5/11/20',
 '5/12/20',
 '5/13/20',
 '5/14/20',
 '5/15/20',
 '5/16/20']

In [148]:
# notice from data repo readme:
# US counties: UID = 840 (country code3) + XXXXX (5-digit FIPS code)

# drop redundant columns
cases = cases.drop(cases.columns[[1,2,3,4,7,10]], axis=1)
cases

,UID,Admin2,Province_State,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20
600,84017001,Adams,Illinois,39.988156,-91.187868,0,0,0,0,0,...,40,41,41,41,41,41,41,41,42,42
601,84017003,Alexander,Illinois,37.180493,-89.329108,0,0,0,0,0,...,6,6,6,7,7,8,8,8,8,8
602,84017005,Bond,Illinois,38.888296,-89.435349,0,0,0,0,0,...,8,8,8,8,9,9,10,10,11,11
603,84017007,Boone,Illinois,42.323593,-88.823458,0,0,0,0,0,...,168,177,185,193,206,244,253,268,274,282
604,84017009,Brown,Illinois,39.962091,-90.750680,0,0,0,0,0,...,6,6,8,8,9,9,9,9,9,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,84017199,Williamson,Illinois,37.730335,-88.929940,0,0,0,0,0,...,42,44,44,44,44,44,52,52,51,52
700,84017201,Winnebago,Illinois,42.336419,-89.160853,0,0,0,0,0,...,759,830,877,917,932,1159,1208,1337,1390,1436
701,84017203,Woodford,Illinois,40.785794,-89.209738,0,0,0,0,0,...,15,15,15,15,15,15,15,14,14,14
3162,84080017,Out of IL,Illinois,0.000000,0.000000,0,0,0,0,0,...,71,72,77,79,84,86,82,86,86,83
3214,84090017,Unassigned,Illinois,0.000000,0.000000,0,0,0,0,0,...,100,48,73,84,66,61,46,65,50,49

In [149]:
# "melt" df into desired form
# i.e., rows correspond to dates

idVars = ["UID", "Admin2", "Province_State", "Lat", "Long_"]
cases = cases.melt(id_vars=idVars, var_name="date", value_name="cases")
cases

,UID,Admin2,Province_State,Lat,Long_,date,cases
0,84017001,Adams,Illinois,39.988156,-91.187868,1/22/20,0
1,84017003,Alexander,Illinois,37.180493,-89.329108,1/22/20,0
2,84017005,Bond,Illinois,38.888296,-89.435349,1/22/20,0
3,84017007,Boone,Illinois,42.323593,-88.823458,1/22/20,0
4,84017009,Brown,Illinois,39.962091,-90.750680,1/22/20,0
...,...,...,...,...,...,...,...
12059,84017199,Williamson,Illinois,37.730335,-88.929940,5/16/20,52
12060,84017201,Winnebago,Illinois,42.336419,-89.160853,5/16/20,1436
12061,84017203,Woodford,Illinois,40.785794,-89.209738,5/16/20,14
12062,84080017,Out of IL,Illinois,0.000000,0.000000,5/16/20,83
12063,84090017,Unassigned,Illinois,0.000000,0.000000,5/16/20,49